{% extends 'homeLayout.twig' %}

{% block title %}{% endblock %}


{% block nav %}
    {% if session.isAuth is null %}
        <div class="navbar-header">
            <p class="navbar-brand">
                Blog de Jean Forteroche, acteur et écrivain
            </p>

        </div>

        <ul class="nav navbar-nav navbar-right">

            <li>
                <a href="index.php?action=connexion">Se connecter</a>
            </li>
        </ul>


    {% else %}

        {{include("navbar.html.twig") }}

    {% endif %}
{% endblock %}


{% block sectionIntro %}

    <h1>

        Billet simple pour l'Alaska</h1>

    <p>
        Ici vous pouvez découvrir en avant première les premiers chapitres de mon nouveau roman :

    </p>


{% endblock %}

{% block paginationTop %}
<p class="pagination">

{% for i in 1..nbPage %}
<a class="main page" href="index.php?action=listPosts&amp;page={{i}}"> Page {{i}} </a>
{% endfor %}

</p>
{% endblock %}

{% block post %}

{% for data in datas %}

    <article class="post container main">

        {% if session.isAuth %}
            <a href="index.php?action=writePostAcces&amp;idPost={{data.id }}">
                Modifier le chapitre
            </a>
        {% endif %}
        <h3 class="postTitle main">
            <a href="index.php?action=onePost&amp;id=  {{data.id }}">{{ data.title | raw}}</a>

        </h3>

        <p class="date">Publié le
            {{data.creation_date | date("d/m/Y") }}</p>

        <div class="content">
            {{data.content_limit | raw}} ...
         <p class="toBeContinued">
            <em>
                <a href="index.php?action=onePost&amp;id=  {{data.id }}">
                    Lire la suite et Voir les commentaires
                </a>
            </em>
        </p>
        </div>

       
    </article>
</p>{% endfor %}{% endblock %}
{% block paginationBottom %}
<p class="pagination">

{% for i in 1..nbPage %}
<a class="main page" href="index.php?action=listPosts&amp;page={{i}}"> Page {{i}} </a>
{% endfor %}

</p>
{% endblock %}
