{% extends 'homeLayout.twig' %}

{% block title %}<title> Blog de Jean Forteroche, à la découverte de son nouveau roman </title>
{% endblock %}


{% block nav %}
    {% if session.isAuth is null %}
        <div class="navbar-header">
           <a class="navbar-brand nav-link" href="index.php">
        Blog de Jean Forteroche, écrivain et acteur
    </a>
        </div>
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link"  href="index.php?action=connexion">Se connecter</a>
            </li>
        </ul>


    {% else %}

        {{include("navbar.html.twig") }}

    {% endif %}
{% endblock %}


{% block sectionIntro %}

    <h1 class="main intro">

        Billet simple pour l'Alaska</h1>

    <p class="justify-content-center text-center main">
        Ici vous pouvez découvrir en avant première les premiers chapitres de mon nouveau roman :

    </p>


{% endblock %}

{% block paginationTop %}
<p class="pagination">

{% for i in 1..nbPage %}
<a class="main page" href="index.php?action=listPosts&amp;page={{i}}"> Page {{i}} </a>
{% endfor %}

</p>
{% endblock %}

{% block post %}

{% for data in datas %}

    <article class="post container main">

        {% if session.isAuth %}
            <a class="btn btn-secondary" href="index.php?action=writePostAcces&amp;idPost={{data.id }}">
                Modifier le chapitre
            </a>
        {% endif %}
        <h3 class="postTitle main">
            <a href="index.php?action=onePost&amp;id={{data.id }}">{{ data.title | raw}}</a>

        </h3>

        <p class="date">Publié le
            {{data.creation_date | date("d/m/Y") }}</p>

        <div class="content">
            {{data.content_limit | raw}} ...
         <p class="toBeContinued">
            <em>
                <a href="index.php?action=onePost&amp;id={{data.id }}">
                    Lire la suite et Voir les commentaires
                </a>
            </em>
        </p>
        </div>     
    </article>
{% endfor %}{% endblock %}
{% block paginationBottom %}
<p class="pagination">

{% for i in 1..nbPage %}
<a class="main page" href="index.php?action=listPosts&amp;page={{i}}"> Page {{i}} </a>
{% endfor %}
</p>
{% endblock %}
