{% extends 'homeLayout.twig' %}

{% block title %}{% endblock %}

{% block header %}
{% block nav %}
{% if session.isAuth is null %}


<ul class="nav navbar-nav">
    <li>
        <a href="index.php?action=connexion">Se connecter</a>
    </li>
</ul>


{% else %}

{{include("navbar.html.twig") }}

{% endif %}
{% endblock %}

<div class="intro">
    <p>
        Ici vous pouvez découvrir en avant première les premiers chapitres de mon nouveau roman :
        <h1>
            Billet simple pour l'Alaska</h1>
    </p>
</div>

{% endblock %}

{% block post %}

{% for data in datas %}

<div class="post container">

    {% if session.isAuth %}
    <a href="index.php?action=modifyPostAcces&amp;idPost={{data.id }}">
        Modifier le chapitre
    </a>{% endif %}
    <h3 class="postTitle"> {{ data.title | raw}} </h3>

    <p class="date">Publié le {{data.creation_date | date("d/m/Y") }}</p>

    <p class "content">
        {{data.content | raw }}</p>
    <p>
        <em>
            <a href="index.php?action=onePost&amp;id=  {{data.id }}">Voir les commentaires
            </a>
        </em>
    </p>
</div>
</p>
{% endfor %}
{% endblock %}