{% extends 'homeLayout.twig' %}

{% block title %}{% endblock %}
{% block header %}

    {% block nav %}
        {{include("navbar.html.twig") }}

    {% endblock %}
    <h1>
        Modération des Commentaires
    </h1>

{% endblock %}


{% block comment %}
    <h2>Commentaires signalés</h2>
    {% if comments %}
        {% for comment in comments %}
            <p>
                <strong>{{comment.author}}</strong>
                le
                {{comment.comment_date | date('d/m/Y') }}</p>

            <p>{{comment.comment}}</p>

            <a href="index.php?action=deleteComment&amp;idComment={{comment.id}}">
                Supprimer</a>

            <a href="index.php?action=unflagComment&amp;idComment={{comment.id}}">
                Conserver</a>
        {% endfor %}
    {% else %}
        <p>
            Il n'y a aucun commentaire signalé.
        </p>
    {% endif %}
{% endblock %}
