{% extends 'homeLayout.twig' %}

{% block title %}
<title> Modération des commentaires </title>
{% endblock %}


{% block nav %}
{{include("navbar.html.twig") }}

{% endblock %}

{% block sectionIntro %}

<section>
    <h1 class="main intro">
        Modération des Commentaires
    </h1>
</section>
{% endblock %}


{% block admin %}
<section class="admin">
    <div class="container">
        <h2 class="main intro">Commentaires signalés</h2>

        {% if comments %}
        {% for comment in comments %}
        <div class="main comment">
            <p>
                <strong>{{comment.author}}</strong>
                le
                {{comment.comment_date | date('d/m/Y') }}</p>

            <p>{{comment.comment}}</p>

            <a class="btn btn-secondary moderate" href="index.php?action=deleteComment&amp;idComment={{comment.id}}">
                Supprimer</a>

            <a class="btn btn-secondary moderate" href="index.php?action=unflagComment&amp;idComment={{comment.id}}">
                Conserver</a>
        </div>
        {% endfor %}
        {% else %}
        <p class="main text-center">

            Il n'y a aucun commentaire signalé.
        </p>
        {% endif %}

    </div>
</section>
{% endblock %}