<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8"/>

        <link href="public/css/style.css" rel="stylesheet"/>
        <title>Behind the scene : Post builder and create your own posts</title>
    </head>
    <body>
        {% block nav %}
            <nav>
                <ul>
                    <li>
                        Mon profil
                    </li>
                    <li>
                        <a href="index.php?action=writePostAcces">Ecrire un article</a>
                    </li>
                    <li>
                        <a href="index.php?action=moderateComment">Moderer commentaires</a>
                    </li>
                    <li>
                        <a href="index.php?action=logout">Se deconnecter</a>
                    </li>
                </ul>
            </nav>

        {% endblock %}


        <h1>
            Modération des Commentaires
        </h1>


        {% block comment %}
            <h2>Commentaires signalés</h2>
            {% if comments %}
                {% for comment in comments %}
                    <p>
                        <strong>{{comment.author}}</strong>
                        le
                        {{comment.comment_date | date('d/m/Y') }}</p>

                    <p>{{comment.comment}}</p>

                    <a href="index.php?action=deleteComment&amp;idComment={{comment.id}}">
                        Supprimer</a>

                    <a href="index.php?action=unflagComment&amp;idComment={{comment.id}}">
                        Conserver</a>
                {% endfor %}
            {% else %}
                <p>
                    Il n'y a aucun commentaire signalé.
                </p>
            {% endif %}
        {% endblock %}


    </body>
</html>
