{% extends 'homeLayout.twig' %}
{% block title %}
    <title>
        Blog de Jean Forteroche, acteur et écrivain.
    </title>
{% endblock %}
{% block header %}
    {% block nav %}
        {% if session.isAuth is null %}


            <ul class="nav navbar-nav">

                <li>
                    <a href="index.php?action=connexion">Se connecter</a>
                </li>
                <li>
                    <a href="index.php">Retour à la liste des chapitres</a>
                </li>

            </ul>


        {% else %}

            {{include("navbar.html.twig") }}

        {% endif %}
        <h1></h1>

    {% endblock %}


{% endblock %}
{% block post %}

    <div class="post container">

        <h3 class="postTitle">
            {{post.title | raw}}</h3>
        <p class="date">Publié le{{post.creation_date_fr |  date("d/m/Y") }}
        </p>
        <p class="content">
            {{post.content | raw}}
        </p>
    </div>
{% endblock %}
{% block comment %}
    <h2>Commentaires</h2>
    <form action="index.php?action=addComment&amp;id={{post.id}}" method="post">
        <div>
            <label for="author">Auteur</label>
            <br/>
            <input id="author" name="author" type="text"/></div>
        <div>
            <label for="comment">Commentaire</label>
            <br/>
            <textarea id="comment" name="comment"></textarea>
        </div>
        <div>
            <input type="submit"/></div>
    </form>
    {% for comment in comments %}
        <p>
            <strong>{{comment.author}}</strong>
            le
            {{comment.comment_date_fr}}</p>

        <p>{{comment.comment}}</p>

        <a href="index.php?action=flag&amp;idComment={{comment.id}}&amp;postId={{post.id}}">
            Signaler ce commentaire</a>
    {% endfor %}
{% endblock %}
