{% extends 'homeLayout.twig' %}
{% block title %}{% endblock %}


{% block nav %}

{{include("navbar.html.twig") }}

{% endblock %}


{% block sectionIntro %}
<h1>
    Ecrire votre chapitre
</h1>


{% endblock %}

{% block post %}

{% if post is null %}
<form id="writePost" method="post">
    <h2>
        Titre de votre chapitre
    </h2>
    <textarea name="title"></textarea>
    <h2>
        Contenu de votre chapitre
    </h2>
    <textarea id="content" name="content"></textarea>
    <input id="published" type="submit" value="Publier" formaction="index.php?action=publishPost"></input>
    <input id="draft" type="submit" value="Conserver comme brouillon" formaction="index.php?action=savePost"></input>

    {% else %}
    <form id="writePost" method="post">
        <h2>
            Titre de votre chapitre
        </h2>
        <textarea name="title">
            {{post.title}}</textarea>
        <h2>
            Contenu de votre chapitre
        </h2>
        <textarea id="content" name="content">{{post.content}}</textarea>
        <input id="published" type="submit" value="Publier"
            formaction="index.php?action=modifyPost&amp;idPost={{post.id}}"></input>
        <input id="draft" type="submit" value="Conserver comme brouillon"
            formaction="index.php?action=savePost"></input>
        <input id="delete" type="submit" value="Supprimer"
            formaction="index.php?action=deletePost&amp;idPost={{post.id}}"></input>
        {% endif %}
    </form>

    {% endblock %}



    {# {% block script %}<script src="public/js/savePost.js"></script>{% endblock %} #}